.hoverTileContainer{
	position:relative;
	display:inline;
}
.hoverExpandTile{
	display:inline-block;
    background:white;
    width:12rem;
    height:12rem;
    padding:0.5rem;
    margin:0.5rem;
    transition:all 0.5s;
}
.hoverExpandTile.expanded{
    width:24rem;
    height:24rem;
    position:absolute;

}
.hoverExpandTile .expandedContent{
    opacity:0;
    transition:opacity 0.5s;
}
.hoverExpandTile.expanded .expandedContent{
    opacity:1;
}